{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "src/Utils/FileSystem.php"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}